*{
    margin: 0;
    padding: 0;
    font-family: poppins
}

body {
    background-color: white;

}

.container {
    width: 90%;
    margin: auto;
}

.navbar {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li a{
    text-decoration: none;
    margin: 20px;
    color: black;
}

.menu ul li a:hover{
    color: orangered;
}


.hub a {
    background-color: orange;
    border-radius: 5px;
    padding: 20px;
}

.hub a.kotak {
    color: white;
}

.hub a:hover {
    background-color: navy
}

.hub a.kotak:hover {
     color: white;
}

.logo h1 {
    margin-left: 150px;
}

.kiri h1 {
    margin-bottom: 20px;
}

.kiri ul {
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: none;
}

.semua {
    width: 80%;
    margin: auto;
    display: flex;
}

.all {
    color: navy;
    width: 100%;
    background-color: violet;
}

.all h3 {
    color: orange;
}

.all ul li {
    color: gray;
}

.foto {
    width: 1px;
    margin: auto;
    background-color: violet;
}

.kontak {
    display: flex;
    margin: 20px 0px 0px 0px;
    text-decoration: none;
}


.program  {
    color: rgb(0, 0, 183);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    border-width: 2px;
   text-decoration: none;
   margin-right: 40px;
}

.program a {
    text-decoration: none;
}

.daftar {
    color: white;
    background-color: rgb(235, 201, 53);
    border-radius: 5px;
    padding: 10px;
}

.kontak .daftar a {
    text-decoration: none;
}

.jawa {
    color: navy;
}

.hero {
    display: flex;
    gap: 100px;
    width: 70%;
    margin: auto;
    color: navy;
}

.kiri h3 {
    color: orange;
}

.kiri ul li {
    color: gray;
}

.kalimantan {
    color: navy;
}

.sulawesi {
    width: 70%;
    margin: 50px 40px 30px 250px;

}

.sponsor {
    display: flex;
    margin: auto;
    gap: 100px;
    width: 40%;
    justify-content: center;
}

.ITXPRO {
    color: navy;
    margin: 70px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.papua {
    color: navy;
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    font-size: small
}

.container_galery {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
    font-size: 40px;
    font-weight: 600;
}

.filter-button {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
}

.filter-btn {
    border: 1px solid #ddd;
    background: none;
    color: #555;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-btn.active,
.filter-btn:hover {
    background-color: #ff6b00;
    color: white;
    border-color: #ff6b00;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gambar {
    width: 30%;
    border-radius: 12px;
    transform: scale(1);
    transition: all 0.5s ease;
    margin: auto;      
}

.gambar img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gambar:hover{
    transform: scale(1.05);

}

.portofolio_DKV h1 {
    color: navy;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    font-size: 50px;
}

.portofolio_DKV h1 span {
    font-weight: 300;
}

.right p {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    font-size: 15px;
}

.right h1 {
    margin-top: -20px;
}

.overflow {
    display: flex;
    gap: 60px;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    color: navy;
} 

.right ul li {
    margin-left: 30px;
    color: gray;
    list-style-type: none;
}

.fa-circle-check {
    color: orange;
}

.right h3 {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 15px;
    color: white;
    background-color: navy;
    border-radius: 5px;
    padding: 10px;
    border-width: 2px;
   text-decoration: none;
   margin-right: 130px;
   padding-left: 20px;
   cursor: pointer;
}

.left iframe {
    border-radius: 10px;
}

.left h2 {
    margin-bottom: 15px;
}

.left span {
    font-weight: 300;
}

.left p {
    margin-top: 15px;
    font-weight: 500;
}

.left1 ul li {
    color: gray;
}
.left1 ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    margin-left: 20px
}

.left1 h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.left1 span {
    font-weight: 300;
    margin-left: 20px;
}

.left1 h3 {
    margin-top: 40px;
    color: white;
    background-color: navy;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    margin-right: 180px;
    font-size: 15px;
}

.right1 iframe {
    border-radius: 10px;
}

.right1 h2 {
    margin-bottom: 20px;

}

.right1 p{
    margin-top: 20px;
    font-weight: 500;
}

.overflow1 {
    display: flex;
    gap: 30px;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    color: navy;
} 

.overflow2 {
    display: flex;
    gap: 30px;
    width: 70%;
    margin: auto;
    margin-top: 150px;
    color: navy;
} 

.left2 ul li {
    color: gray;
}
.left2 ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    margin-left: 20px
}

.left2 h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.left2 span {
    font-weight: 300;
    margin-left: 20px;
}

.left2 h3 {
    margin-top: 40px;
    color: white;
    background-color: navy;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    margin-right: 180px;
    font-size: 15px;
}

.portoTKJ {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 90px;
    width: 80%;
}

.portoTKJ h1 {
    font-size: 20px;
    cursor: pointer;
    color: navy;
    margin-bottom: 40px;
}

.portoTKJ span {
    color: navy;
}

.portoTKJ .image p {
    color: white;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
}

.portoTKJ .image2 h1 {
    margin-bottom: 10px;
}

.portoTKJ .image2 p {
    color: white;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.portoTKJ .image3 p {
    color: white;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.portoTKJ .image4 p {
    color: white;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.portoTKJ .image3 h1 {
    font-size: 20px;
    cursor: pointer;
    color: navy;
    margin-bottom: 38px;
}

.portoTKJ .image4 h1 {
    font-size: 20px;
    cursor: pointer;
    color: navy;
    margin-bottom: 37px;
}